@import "compass";
@import "breakpoint";
@import "singularitygs";

@import "compass/reset";
@import "partials/**/*";
@import "components/_1.siteframe.scss";
@import "components/_2.item_order_box.scss";

.component-container {
	padding: 40px 10px;
	border-radius: 1px;
}