/*
**
** ---- Pallete --->
** @color pallete varriables
*/

$black: #000F30;
$white: #fff;
$lightgray: #505050;
$gray: #002B45;
$blue: #185F9F;
$orange: #FF6243;

/*
**
** ---- Typography --->
** @typography varriables
*/

$text: $black;
$lighttext: $lightgray;
$link: $blue;

$login-button: $orange;
$signout-button: $gray;

$pagetitle: $blue;