@mixin button($color, $font) {
	display: inline-block;
	border: none;
	outline: none;
	border-top: 2px solid $color + 10;
	border-bottom: 2px solid $color - 30;
	border-radius: 10px;
	border-radius: 1rem;
	box-shadow: 0px 2px 5px 1pt #a5a2a2;
	cursor: pointer;

	background: $color;	
	background: -webkit-linear-gradient($color, $color - 30); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($color, $color - 30); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($color, $color - 30); /* For Firefox 3.6 to 15 */
	background: linear-gradient($color, $color - 30); /* Standard syntax */

	font-family: Lato;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 40px;
	line-height: 4rem;
	padding: 0 20px;
	padding: 0 2rem;
	color: $font;
	text-decoration: none;
	&:visted {
		color: $font;
		text-decoration: none;
	}

	margin: 0 10px 0 0;
	margin: 0 1rem 0 0;

	&:active {
		background: $color - 30;
		-webkit-transform: translate3d(0,1px,0);
		transform: translate3d(0,1px,0);
		border-top: 2px solid $color - 15;
		border-bottom: 2px solid $color - 15;
		box-shadow:  none;
	}

}