html {
	font-size: 62.5%;
	font-family: Lato;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
	font-weight: 300;
	margin: 10px 0 20px;
	margin:  1rem 0 2rem;
}

h1 {
	color: $text;
	font-size: 30px;
	font-size: 3rem;
}

p {
	font-size: 14px;
	font-size: 1.4rem;
	margin: 5px 0 10px;
	margin: .5rem 0 1rem;
}

ul {
	list-style: none;
	li {
		color: $text;
		font-size: 14px;
		font-size: 1.4rem;
		margin: 5px 0;
		margin: .5rem 0;
		a,
		a:visited {
			text-decoration: none;
			color: $link;
		}
		a:hover {
			text-decoration: underline;
		}
	}
}