* {
  box-sizing: border-box;
}

.mainsection {
  width: 100%;
  display: block;
  overflow: hidden;
}

.section {
  width: 100%;
  display: block;
  overflow: hidden;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  height: inherit;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  overflow: hidden;
}

.container {
  position: relative;
  overflow: hidden;
  display: block;
  max-width: 100%;
}

.content {
  padding: 10px;
  padding: 1rem;
}

@media (min-width: 1000px) {
  .wrapper {
    width: 980px;
  }
}

